<% title(@project.name, "Projects") %>

<div id="ticket">
  <header>
    <h1><%= @ticket.name %></h1>
  </header>

  <header>
    <h4>Project: <%= link_to @project.name, @project %></h4>
  </header>

  <%= simple_format(@ticket.description) %>
</div>

