<% title(@project.name, "Projects") %>

<div id="ticket">
  <header>
    <h1><%= @ticket.name %></h1>
    <ul class="actions">
      <li> <%= link_to "Edit Ticket", edit_project_ticket_path(@project,@ticket), class: "edit" %></li>
    </ul>
  </header>

  <header>
    <h4>Project: <%= link_to @project.name, @project %></h4>
  </header>

  <%= simple_format(@ticket.description) %>
</div>

